*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --text-primary:#FEA116;
    --background-color:#FEA116;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    /* align-items: center; */

}
.container{
    max-width: 1180px;
    margin-inline: auto;
}
/* header-section */
.header{
    background: #0f172b;
    height: 70px;
}
.primary-button{color: var(--text-primary);
      /* font-size: 30px; */
}
.weight{
    font-size: 30px;
    margin-top: 10px;
}
.header-section{
    justify-content: space-between;
}
.linked ul{
    gap: 30px;
}
.linked ul li a{
    color: white;
}
.linked{
    margin-top: 10px;
}
.secondary-button{
    margin-top: 10px;
    background: var(--background-color);
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}
.header-section{
    align-items: center;
    /* justify-content: center; */
}

/* sub-header-part */
.sub-header-complete{
    background: linear-gradient(rgba(15,23,43,.9),rgba(15,23,43,.9)),url(image/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.left{
    /* align-items:  center; */
    margin-top: 80px;
}
.priza{
    width: 600px;

}
.heading{
    color: white;
}
.paragraph{
    margin-top: 40px;
    font-size: 1rem;
    color: white; 
}
.other-button{
    display: inline-block;
    margin-top: 70px;

}
.right{
    animation:orbit 48s linear infinite;
}

@keyframes orbit{
    form{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.order-service{
gap: 30px;
/* border:  2px solid blue; */
/* transition-delay: 0.2; */
/* position: relative; */
margin-top: 20px;
transition-duration: 1s;
}
.sub-service{
    border: 2px solid white;
    border-radius: 5px;
    width: 330px;
    height: 160px;
    transition: 0.1s;
    transition-delay: 1s;
    transition-duration: 2s;
    background: #666566;
    
    /* background: var(--background-color); */
    /* margin-top: 10px; */
    /* position: relative; */
    /* top: 80px; */

}
.animation img{
    transition: 2s;
    transition-duration: 1s;

}
.sub-service:hover{
    background-color: var(--background-color);
    cursor: pointer;
    transform: rotate(360deg);


}
.head{
    margin-top: 20px;
}
.para{
    margin-top: 60px;
}


/*    */
.primary-image{
    width: 190px;
    height: 180px;
}
.secondary-image{
    margin-top:40px ;
    width: 100px;
    height: 100px;
}
.right-image{
    gap: 60px;
}
.colo{
     gap: 60px;
}
.image-section{
    justify-content: space-around;

}
.left-containt{
    margin-top: 60px;
}
.ht{
    margin-top: 10px;
}
.pt{
    margin-top: 20px;
}
.left-two{
    justify-content: space-around;
}
.top{
    margin-top: 15px;
}
.food-menu{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transition: 2s; */
    transition-delay: 2s;
}
.food-menu-linked {margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 140px;
}
.food{
    justify-content: space-around;
}
.heading-sub{
    flex-direction: column;
    justify-content: space-between;
}
.heading-part {
     justify-content:space-between; 
}
.heading-sub{
    margin-left: 10px;
    margin-top: 50px;
}
.set-image{
    width: 150px;
}
.set-image:hover{
      font-size: large;
    box-shadow: 2px 2px 8px rgba(15,23,43,.9);
}
.dolar{
    font-weight: 500;
    font-size: 30px;
    color: #FEA116;
}
.complete-section {
    flex-direction: column;
}
.chicken{
    justify-content: space-between;
}
.menu2{
    margin-top: 40px;
}
.left-sub{
    margin-top: 10px;
}
.vedio-section{
    justify-content: space-between;
}
.aera{
    height: 50px;
    width: 350px;
}
.right-sub-containt-vedio{
   
     /* background-color: #0f172b;  */
    margin-top: 90px;  
      margin-right: 50px;

}
.BEST-BUTTON{
    border: 2px solid white;
    display: block;
    text-align: center;
    /* background-color: #0f172b; */
}
.btt{
    margin-top: 20px;
    background-color: #0f172b;
}

.mem-img{
    border-radius: 50%;
    width: 230px;
}
.mem-img:hover{
    animation:orbit 48s linear infinite ;

}

.food-member{
    justify-content: space-evenly;

}
